{% extends 'base.html' %}

{% block content %}

<div class="row">

<div class="col-md-3">

<div class="card p-3">

<h5>Students</h5>

<h2>{{ students }}</h2>

</div>

</div>

<div class="col-md-3">

<div class="card p-3">

<h5>Lecturers</h5>

<h2>{{ lecturers }}</h2>

</div>

</div>

<div class="col-md-3">

<div class="card p-3">

<h5>Subjects</h5>

<h2>{{ subjects }}</h2>

</div>

</div>

<div class="col-md-3">

<div class="card p-3">

<h5>Results</h5>

<h2>{{ results }}</h2>

</div>

</div>

</div>

{% endblock %}
